@media screen and (max-width: 960px) {
  .contact {
    min-height: 80vh;
  }
  .navbar-mobile {
    transform: translateX(-100%);
  }
}


@media screen and (max-width: 720px) {
  .mobile-menu {
    display: block!important;
  }
  .search-nav{
    display: none!important;
  }
  #nav{
    display: none!important;
  }
  .container {
    width: 100%!important;
  }
  #main-page {
    flex-direction: column;
    width: 100%;
  }
  #main-page .left {
    width: 100%!important;
    order: 2;
  }
  #main-page .right {
    width: 100%!important;
    order: 1;
    margin-bottom: 2rem;
  }

  #recipes .recipe-cards .recipe-card {
    width: 100%!important;
  }

}

@media screen and (max-width: 480px) {
  .contact {
    min-height: 60vh;
    padding-bottom: 40px;
  }
}
